/* ==== TITULO GLOBAL DE SECCIONES ==== */


.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* asegura que el título empiece desde arriba */
  padding-top: 3rem; /* igual que el título */
  margin-bottom: 1rem;
}



.section-title {
  margin: 0 auto;
  padding-top: 3rem;
  margin-bottom: 1rem;

  text-align: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;

  font-size: clamp(2rem, 2.5vw + 1rem, 3rem);
  /* Responsivo fluido pero estable */
  line-height: 1.2;
 /* max-width: 90%;*/
}

/* Ajustes específicos si alguna sección necesita */
.hero .section-title,
.offer .section-title,
.nosotros .section-title,
.contacto .section-title {
  padding-top: 4rem;
  margin-bottom: 2rem;
}

/* ====== Opcional: ajuste mínimo en móviles muy pequeños ====== */
@media (max-width: 480px) {
  .section-title {
    padding-top: 3rem;
    font-size: 2rem;
  }
}





@media (width: 820px) and (height: 1180px) {
  .contacto .section-title {
    padding-top: 6rem; /* ajustá según necesites */
    font-size: 2.5rem; /* opcional */
  }
}

/* ==== Ajuste solo para iPad Air horizontal ==== */
@media (width: 1180px) and (height: 820px) {
  .contacto .section-title {
    padding-top: 5rem; /* ajustá según necesites */
    font-size: 2.3rem; /* opcional */
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) and (min-height: 1300px) and (max-height: 1400px) {
  .hero-container .section-title {
    margin-bottom: 5rem;
  }
}